<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:replace="~{staticElements/header :: commonHead('Dashboard')}">
    <title>Centrum Diety</title>
    <th:block th:fragment="extraHead"/>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="~{staticElements/header :: bodyHeader}"></header>
<nav th:replace="~{staticElements/nav :: patientNav}"></nav>
<main class="container mt-5 mb-3 d-flex justify-content-center">
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</main>
<footer th:replace="~{staticElements/footer :: footer}"></footer>
</body>
</html>
