<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:replace="~{staticElements/header :: commonHead('Dodawanie przepisu')}">
    <title>Centrum Diety</title>
    <th:block th:fragment="extraHead">
        <script th:src="@{/js/external/select2.min.js}" defer></script>
        <script th:src="@{/js/external/i18n/select2-translations-pl.js}" defer></script>
        <script th:src="@{/js/add-recipe.js}" defer></script>
    </th:block>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="~{staticElements/header :: bodyHeader}"></header>
<nav th:replace="~{staticElements/nav :: userNav}"></nav>
<main class="container-fluid mt-5 mb-3">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header">
                    <h3 class="card-title text-center">Dodawanie przepisu</h3>
                </div>
                <div class="card-body">
                    <form action="#"
                          th:action="@{/process-recipe-form}"
                          th:object="${recipeDto}"
                          method="POST"
                          class="form-horizontal">
                        <div class="form-floating mb-3">
                            <input
                                    th:field="*{name}"
                                    type="text"
                                    id="name"
                                    name="name"
                                    placeholder="Nazwa przepisu"
                                    class="form-control"
                                    th:classappend="${#fields.hasErrors('name') ? ' is-invalid' : ''}"
                                    aria-describedby="nameValidationFeedback"
                                    th:disabled="${readOnly}"
                                    required=""/>
                            <label for="name">Nazwa przepisu</label>
                            <div id="nameValidationFeedback" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                                </ul>
                            </div>
                        </div>
                        <div id="hiddenIngredientsContainer"></div>
                        <div id="ingredients-wrapper" class="form-group w-25 mb-3 d-flex flex-column">
                            <label class="form-label align-self-center">Składniki:</label>
                            <div th:if="${readOnly == null or !readOnly}" class="d-flex justify-content-between align-items-center mb-2 align-self-center">
                                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#ingredientModal">
                                    Wybierz składnik
                                </button>
                            </div>
                            <div>
                                <ul id="ingredientsList" class="list-group">
                                    <li th:each="ingredient: ${recipeDto.getIngredientsList()}" class="list-group-item d-flex align-items-center justify-content-between">
                                        <div>
                                            <span class="badge text-bg-success rounded-pill me-2">
                                                <span th:text="${ingredient.getIngredientAmount()}" class="ingredient-amount"></span>
                                                <span th:text="${ingredient.getIngredientMeasurementUnit()}" class="ingredient-measurement-unit"></span>
                                             </span>
                                            <span th:text="${ingredient.getIngredientName()}" class="ingredient-name"
                                                  th:data-caloriesAmount="${ingredient.getCaloriesAmount()}"
                                                  th:data-carbsAmount="${ingredient.getCarbsAmount()}"
                                                  th:data-fatsAmount="${ingredient.getFatsAmount()}"
                                                  th:data-proteinAmount="${ingredient.getProteinAmount()}"
                                                  th:data-glycemicIndex="${ingredient.getGlycemicIndex()}"></span>
                                        </div>
                                        <div>
                                            <button th:if="${readOnly == null or !readOnly}" type="button" class="btn btn-success btn-sm edit-ingredient-btn">
                                                <i class="fa fa-pen" aria-hidden="true"></i>
                                            </button>
                                            <button th:if="${readOnly == null or !readOnly}" type="button" class="btn btn-danger btn-sm delete-ingredient-btn">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input
                                    th:field="*{preparationTime}"
                                    type="number"
                                    id="preparationTime"
                                    name="preparationTime"
                                    placeholder="Czas przygotowania (min)"
                                    class="form-control"
                                    th:classappend="${#fields.hasErrors('preparationTime') ? ' is-invalid' : ''}"
                                    aria-describedby="preparationTimeValidationFeedback"
                                    th:disabled="${readOnly}"
                                    required=""/>
                            <label for="preparationTime">Czas przygotowania (min)</label>
                            <div id="preparationTimeValidationFeedback" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('preparationTime')}" th:text="${err}"/>
                                </ul>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea
                                    th:field="*{preparationDescription}"
                                    id="preparationDescription"
                                    name="preparationDescription"
                                    placeholder="Opis przygotowania przepisu"
                                    class="form-control"
                                    style="height: 200px;"
                                    th:classappend="${#fields.hasErrors('preparationDescription') ? ' is-invalid' : ''}"
                                    aria-describedby="preparationDescriptionValidationFeedback"
                                    th:disabled="${readOnly}"
                                    required=""></textarea>
                            <label for="preparationDescription">Opis przygotowania przepisu</label>
                            <div id="preparationDescriptionValidationFeedback" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('preparationDescription')}" th:text="${err}"/>
                                </ul>
                            </div>
                        </div>
                        <div id="nutritionSummary" class="card shadow">
                            <div class="card-body">
                                <h5 class="card-title">Podsumowanie</h5>
                                <div class="form-group mb-2">
                                    <label for="caloriesAmount">Kalorie (kcal)</label>
                                    <input type="number" th:field="*{caloriesAmount}" id="caloriesAmount" class="form-control" readonly>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="proteinAmount">Białko (g)</label>
                                    <input type="number" th:field="*{proteinAmount}" id="proteinAmount" class="form-control" readonly>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="fatsAmount">Tłuszcze (g)</label>
                                    <input type="number" th:field="*{fatsAmount}" id="fatsAmount" class="form-control" readonly>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="carbsAmount">Węglowodany (g)</label>
                                    <input type="number" th:field="*{carbsAmount}" id="carbsAmount" class="form-control" readonly>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="glycemicLoad">Ładunek glikemiczny</label>
                                    <input type="text" th:field="*{glycemicLoad}" id="glycemicLoad" class="form-control" readonly>
                                </div>
                            </div>
                        </div>
                        <div th:if="${readOnly == null or !readOnly}" class="form-group">
                            <div class="controls d-flex justify-content-center controls">
                                <button type="submit" class="btn btn-success">
                                    <span>Zapisz przepis</span>
                                </button>
                                <button type="button" id="deleteRecipeBtn" class="btn btn-danger ms-2">
                                    <span>Usuń przepis</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade" id="ingredientModal" tabindex="-1" aria-labelledby="ingredientModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ingredientModalLabel">Wybierz składnik</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="ingredientForm" novalidate>
                    <div class="form-group mb-3">
                        <label for="ingredientSelect" class="form-label">Składnik</label>
                        <select id="ingredientSelect" aria-describedby="ingredientSelectFeedback" required></select>
                        <div id="ingredientSelectFeedback" class="invalid-feedback">
                            Niepoprawny składnik.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="ingredientAmount">Ilość</label>
                        <input
                                type="number"
                                id="ingredientAmount"
                                name="ingredientAmount"
                                placeholder="Ilość"
                                class="form-control"
                                aria-describedby="ingredientAmountFeedback"
                                required=""/>
                        <div id="ingredientAmountFeedback" class="invalid-feedback">
                            Niepoprawna ilość produktu.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="measurementUnit" class="form-label">Jednostka miary</label>
                        <select id="measurementUnit" aria-describedby="measurementUnitFeedback">
                            <option value="g">g</option>
                            <option value="ml">ml</option>
                        </select>
                        <div id="measurementUnitFeedback" class="invalid-feedback">
                            Niepoprawna jednostka miary.
                        </div>
                    </div>
                    <div id="ingredientCard" class="card mt-3 d-none">
                        <div class="card-body">
                            <p class="card-text">
                                Kalorie: <span id="calculatedCalories"><strong></strong></span> kcal<br/>
                                Białko: <span id="calculatedProtein"><strong></strong></span> g<br/>
                                Tłuszcze: <span id="calculatedFat"><strong></strong></span> g <br/>
                                Węglowodany: <span id="calculatedCarbs"><strong></strong></span> g<br/>
                                Indeks glikemiczny: <span id="calculatedGlycemicIndex"><strong></strong></span> g
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-success" id="addIngredientBtn">Dodaj składnik</button>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{staticElements/footer :: footer}"></footer>
</body>
</html>
