<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<body>
<nav th:fragment="patientNav" class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="mainPatientNavbar">
            <ul class="navbar-nav d-flex flex-row gap-2">
                <li class="nav-item">
                    <a class="btn btn-outline-success" href="#">Twoje wizyty</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success" href="#">Twój plan dietetyczny</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success" href="#">Twoja grupa wsparcia</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success" href="#">Twój plan treningowy</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav th:fragment="adminNav" class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="mainAdminNavbar">
            <ul class="navbar-nav d-flex flex-row gap-2">
<!--                <li class="nav-item">-->
<!--                    <a class="btn btn-outline-success" th:href="@{/admin-dashboard}">Panel administratora</a>-->
<!--                </li>-->
                <li>
                    <form action="#" th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-danger">Wyloguj</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!--<nav th:fragment="adminNav" class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">-->
<!--    <div class="container-fluid">-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#adminNavbar"-->
<!--                aria-controls="adminNavbar" aria-expanded="false" aria-label="Toggle navigation">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->

<!--        <div class="collapse navbar-collapse justify-content-center" id="adminNavbar">-->
<!--            <ul class="navbar-nav d-flex flex-row gap-2">-->
<!--                <li class="nav-item">-->
<!--                    <a class="btn btn-outline-primary" th:href="@{/admin-dashboard}">Panel Administratora</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="btn btn-outline-primary" href="#">Zarządzanie Użytkownikami</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="btn btn-outline-primary" href="#">Ustawienia Systemu</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<nav th:fragment="dietitianNav" class="navbar navbar-expand-lg navbar-light bg-info shadow-sm">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dietitianNavbar"
                aria-controls="dietitianNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="mainDietitianNavbar">
            <ul class="navbar-nav d-flex flex-row gap-2">
                <li class="nav-item">
                    <a class="btn btn-outline-dark" th:href="@{/dietitian-dashboard}">Panel Dietetyka</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-dark" href="#">Twoi Pacjenci</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-dark" href="#">Plany Dietetyczne</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-dark" href="#">Harmonogram Wizyt</a>
                </li>
                <li>
                    <form action="#" th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-danger">Wyloguj</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>
