<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:replace="~{staticElements/header :: commonHead('Rejestracja')}"><title>Centrum Diety</title></head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="~{staticElements/header :: bodyHeader}"></header>
<main class="container mt-5 mb-3 d-flex justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card border-success">
            <div class="card-header bg-success text-white text-center">
                Rejestracja
            </div>
            <div class="card-body">
                <div class="card-text">
                    <form action="#"
                          th:action="@{/register/processRegistrationForm}"
                          th:object="${userRegistrationDto}"
                          method="POST"
                          class="form-horizontal">
                        <div class="form-group"  th:if="${registrationError}">
                            <div class="col-xs-15">
                                <div>
                                    <div>
                                        <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                                            <span th:text="${registrationError}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input
                                    th:field="*{userName}"
                                    type="text"
                                    id="username"
                                    name="username"
                                    placeholder="Login"
                                    class="form-control"
                                    th:classappend="${#fields.hasErrors('userName') ? ' is-invalid' : ''}"
                                    autocomplete="username"
                                    aria-describedby="usernameValidationFeedback"
                                    required=""/>
                            <label for="username">Login</label>
                            <div id="usernameValidationFeedback" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('userName')}" th:text="${err}"/>
                                </ul>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{password}"
                                   type="password"
                                   id="password"
                                   name="password"
                                   placeholder="hasło"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('password') ? ' is-invalid' : ''}"
                                   autocomplete="current-password"
                                   aria-describedby="passwordValidationFeedback"
                                   required=""/>
                            <label for="password">Hasło</label>
                            <div id="passwordValidationFeedback" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
                                </ul>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{firstName}"
                                   type="text"
                                   id="firstName"
                                   name="firstName"
                                   placeholder="Imię"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('firstName') ? ' is-invalid' : ''}"
                                   aria-describedby="firstnameValidationFeedback"
                                   required=""/>
                            <label for="firstName">Imię</label>
                            <div id="firstnameValidationFeedback" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
                                </ul>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{lastName}"
                                   type="text"
                                   id="lastName"
                                   name="lastName"
                                   placeholder="Nazwisko"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('lastName') ? ' is-invalid' : ''}"
                                   aria-describedby="lastnameValidationFeedback"
                                   required=""/>
                            <label for="lastName">Nazwisko</label>
                            <div id="lastnameValidationFeedback" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"/>
                                </ul>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input th:field="*{email}" type="text"
                                   id="email"
                                   name="email"
                                   placeholder="Email"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('email') ? ' is-invalid' : ''}"
                                   aria-describedby="emailValidationFeedback"
                                   required=""/>
                            <label for="email">Email</label>
                            <div id="emailValidationFeedback" class="invalid-feedback">
                                <ul>
                                    <li th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="controls d-flex justify-content-center controls">
                                <button type="submit" class="btn btn-success">Zarejestruj</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{staticElements/footer :: footer}"></footer>
<script th:replace="~{staticElements/footer :: bootstrapJS}"></script>
</body>
</html>
