<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head th:replace="~{staticElements/header :: commonHead('Logowanie')}">
    <title>Centrum Diety</title>
    <th:block th:fragment="extraHead"/>
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="~{staticElements/header :: bodyHeader}"></header>
<main class="container mt-5 mb-3 d-flex justify-content-center">
    <div id="loginbox" class="col-md-6 col-lg-4">
        <div class="card border-success">
            <div class="card-header bg-success text-white text-center">
                Logowanie
            </div>
            <div class="card-body">
                <div class="card-text">
                    <form action="" th:action="@{/authenticateUser}" method="POST" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-xs-15">
                                <div>
                                    <div>
                                        <div th:if="${loginInfo}"
                                             class="alert alert-success col-xs-offset-1 col-xs-10 text-center">
                                            <span th:text="${loginInfo}"></span>
                                        </div>
                                        <div th:if="${loginError}" class="alert alert-danger col-xs-offset-1 col-xs-10 text-center">
                                            <span th:text="${loginError}"></span>
                                        </div>
<!--                                        <div th:if="${param.error}"-->
<!--                                             class="alert alert-danger col-xs-offset-1 col-xs-10 text-center">-->
<!--                                            Niepoprawny login lub hasło.-->
<!--                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" id="username" name="username" placeholder="Login" class="form-control" autocomplete="username"/>
                            <label for="username">Login</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" id="password" name="password" placeholder="hasło" class="form-control" autocomplete="current-password"/>
                            <label for="password">Hasło</label>
                        </div>
                        <div class="form-group">
                            <div class="controls d-flex justify-content-center controls">
                                <button type="submit" class="btn btn-success">Zaloguj</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <a th:href="@{/register/showRegistrationForm}" class="btn btn-success mt-3" role="button"
               aria-pressed="true">Zarejestruj nowego użytkownika</a>
        </div>
    </div>
</main>
<footer th:replace="~{staticElements/footer :: footer}"></footer>
</body>
</html>
