<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="pl">
<head th:replace="~{staticElements/header :: commonHead('Centrum Diety - podstrona admina')}"></head>
<body>
<div class="alert alert-primary" role="alert">
    Witamy na podstronie dla admina w Centrum Diety!
    <br/>
    Użytkownik: <span sec:authentication="principal.username"></span>
    <br/>
    Role: <span sec:authentication="principal.authorities"></span>
</div>
<div>
    <a th:href="@{/}">Powrót do strony głównej</a>
</div>
<div>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</div>
<script th:replace="~{staticElements/footer :: bootstrapJS}"></script>
</body>
</html>
